<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head") %>
    <title>Blog signup Page</title>
  </head>
  <body>
    <%- include("./partials/navbar") %> <%- include("./partials/script") %>

    <form
      action="/user/signup"
      method="POST"
      class="form-group px-3 mt-3 d-flex flex-column align-items-center"
    >
      <div class="mb-3 col-sm-6">
        <label for="exampleInputEmail1" class="form-label">Full Name</label>
        <input
          type="text"
          class="form-control"
          name="fullName"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        />
      </div>
      <div class="mb-3 col-sm-6">
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          name="email"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        />
      </div>
      <div class="mb-3 col-sm-6">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input
          type="password"
          name="password"
          class="form-control"
          id="exampleInputPassword1"
        />
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </body>
</html>
